@mixin breakpointSmall {
  @media only screen and (max-width: 768px) {
    @content;
  }
}

@mixin breakpointLarge {
  @media only screen and (min-width: 769px) {
    @content;
  }
}

@mixin cleanList {
  & {
    list-style: none;
  }

  @include breakpointSmall {
    & {
      line-height: 1.6rem;
      padding-left: 0;
    }
  }

  @include breakpointLarge {
    & {
      line-height: 1.4rem;
      padding-left: 1rem;
    }
  }
}
