body {
  background-color: #fbfbfb;
  color: rgb(17, 17, 17);
  font-family: 'Lato', sans-serif !important;
  font-size: 16px;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// "section links"
h2 a {
  color: rgb(17, 17, 17);
  text-decoration: none;

  &:active,
  &:hover {
    text-decoration: underline;
  }
}

p {
  line-height: 1.6rem;
}

hr {
  border: 0;
  border-bottom: 1px dotted #b3b3b3;
  margin: 1.5rem 0 1rem 0;
}

@media only screen and (min-width: 769px) {
}
